.container{
  width: 70%;
  height: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-header {
  height: 10%;
  /*border: 1px solid black;*/
}

.chat-container {
  height: 70%;
  /*border: 1px solid black;*/
  overflow-y: auto;
  border-top: 1px dashed lightgray;
}

.card-panel-l {
  padding: 15px;
  width: 70%;
  margin-left: 2%;
  margin-top: 1%;
  text-align: left;
}

.card-panel-r {
  padding: 15px;
  width: 70%;
  margin-left: 2%;
  margin-top: 1%;
  text-align: right;
}

.btn-floating {
  z-index: 10;
}

.fab-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.bodybody {
  position:relative;
}

.selectionbtn1 {
  position: absolute;
  top: 5%;
  left: 3%;
}

h5 {
  margin-top: 20px;
}

.arrow-right {
  position: fixed;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
}

.arrow-left {
  position: fixed;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
}